@mixin custom-scroll($color: $thumb-color, $bdrs: 5px) {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: $bdrs;
  }

  &::-webkit-scrollbar-thumb {
    height: 100px;
    border-radius: $bdrs;
    background-color: $color;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
