// Colors
$primary-color: #1b55e9;
$secondary-color: #e8f0fc;
$bg-color: #f2f5f9;
$success-color: #3ac23f;
$input-color: #eef3fa;
$border-color: #eef3fa;
$lightest-color: #e3e9f0;
$placeholder-color: #8ea1ba;
$placeholder-color-light: #b9c3d1;
$placeholder-color-lightest: #f9fbfd;
$placeholder-color-heavy: #8e929a;
$code-background-color: #f9fafb;
$thumb-color: #d0dce7;
$error-color: #ffd8d2;
$warning-color: #e6a23c;
$white: #fff;
$red: #ff521b;
$primary-text-color: #606266;
$form-title: 28px;
$form-text: 15px;
$background-light-color: #f6f8fc;
$mobile-padding: 24px;
$shadow-color: rgb(0 0 0 / 1%);
$table-footer-color: #f6f9fc;
$active-color: #ff4d00;
$accent-color: #f0f0f0;
$text-dark: #161515;
$text-light: #9aa6b8;
$grey-color: #f3f7fd;
$green-color: #008556;
$orange-color: #e86825;
$red-color: #de1c22;

// Button colors
$btn-border-color: #e5edf8;
$btn-default-color: #f0f7fd;
$btn-text-color-hover: #fff;
$btn-bg-disabled: #f5f5f5;
$btn-text-disabled: #828588;

$grey-200: #f9fcfe;

$blue-300: #e5edf9;
$blue-500: #a1b6c6;
$blue-700: #10233a;
