.vue-toast__container.app-toast-container {
  --vt-font-family: 'Montserrat', sans-serif;
  --vt-toast-min-height: auto;
  --vt-toast-shadow: '';
  --vt-toast-rounded: 4px;
  --vt-progress-height: 0.375rem;
  --vt-toast-padding: 0.75rem 1rem calc(0.75rem + var(--vt-progress-height));
  --vt-progress-background: theme(colors.gray.100);
  --vt-toast-background-default: theme(colors.blue.600 / 10%);
  --vt-toast-text-default: theme(colors.blue.600);
  --vt-progress-track-default: theme(colors.blue.600 / 20%);
  --vt-progress-thumb-default: theme(colors.blue.600);
  --vt-toast-background-info: theme(colors.blue.700 / 10%);
  --vt-toast-text-info: theme(colors.blue.700);
  --vt-progress-track-info: theme(colors.blue.700 / 20%);
  --vt-progress-thumb-info: theme(colors.blue.700);
  --vt-toast-background-success: theme(colors.green.main / 10%);
  --vt-progress-track-success: theme(colors.green.main / 20%);
  --vt-progress-thumb-success: theme(colors.green.main);
  --vt-toast-text-success: theme(colors.green.main);
  --vt-toast-background-error: theme(colors.red.warning / 10%);
  --vt-toast-text-error: theme(colors.red.warning);
  --vt-progress-track-error: theme(colors.red.warning / 20%);
  --vt-progress-thumb-error: theme(colors.red.warning);
  --vt-toast-background-warning: theme(colors.orange.main / 10%);
  --vt-toast-text-warning: theme(colors.orange.main);
  --vt-progress-track-warning: theme(colors.orange.main / 20%);
  --vt-progress-thumb-warning: theme(colors.orange.main);
  --vt-toast-background-dark: theme(colors.gray.500);
  --vt-toast-text-dark: theme(colors.gray.100);
  --vt-button-color-dark: theme(colors.gray.100);
  --vt-progress-track-dark: theme(colors.gray.500 / 20%);
  --vt-progress-thumb-dark: theme(colors.gray.500 / 60%);
  --vt-button-color: theme(colors.blue.600);

  .vue-toast__toast.app-toast {
    @apply flex items-start gap-x-[0.25rem];

    .vue-toast__toast-body,
    .vue-toast__toast-component-body {
      @apply text-md leading-[1.25rem] font-medium;
    }

    .vue-toast__close-button {
      @apply w-[1rem] h-[1rem] text-[1.6rem] leading-[normal] pl-0 flex items-center justify-center;
    }
  }
}
