.el-input .el-input__inner,
.el-textarea__inner,
.el-textarea {
  transition:
    background-color 0.5s,
    border-color 0.5s;
}

.el-input {
  .el-icon-circle-close,
  .el-icon-circle-check {
    @apply hidden #{!important};
  }

  &.el-input--suffix .el-input__inner {
    & + .el-input__suffix .el-input__icon {
      @apply h-full flex items-center justify-center;
    }
  }

  &.el-input--prefix .el-input__inner {
    & + .el-input__prefix .el-input__icon {
      @apply h-full flex items-center;
    }
  }
}

.el-input-number {
  @apply flex w-full;

  &--medium {
    @apply flex;
  }

  & .el-input__inner {
    @apply text-left;
  }
}

.full-width {
  @apply w-full;
}

.el-form-item.is-error .app-input .el-input .el-input__inner,
.app-input .el-input .el-input__inner {
  @apply shadow-none;
}

.el-form-item.is-error {
  .app-input {
    &__helper {
      @apply hidden;
    }

    .el-input:not(.is-disabled) {
      @apply before:bg-red-warning before:bg-opacity-20 focus-within:before:bg-opacity-20 focus-within:before:bg-red-warning;
    }

    .el-textarea:not(.is-disabled) {
      @apply before:border-red-warning before:border-opacity-20 focus-within:border-red-warning;
    }

    .el-input,
    .el-textarea {
      &:not(.is-disabled) {
        .el-input__inner,
        &.el-textarea {
          @apply border-red-warning focus:border-red-warning caret-red-warning;
        }
      }
    }
  }
}

.app-input,
.app-date-picker {
  @apply relative;

  .el-input:focus-within,
  .el-input.is-focus {
    @apply before:bg-opacity-20 before:bg-primary;
  }

  .el-textarea:focus-within {
    @apply before:border-primary before:border-opacity-20;
  }

  .el-textarea {
    @apply border
    border-solid
    border-blue-400
    bg-gray-100
    focus-within:border-primary
    before:border-[0.25rem]
    before:-left-[0.25rem]
    before:-top-[0.25rem]
    before:border-transparent;

    &::before {
      width: calc(100% + 0.5rem);
      height: calc(100% + 0.5rem);
    }

    &__inner {
      @apply max-h-[6.3125rem];
      @apply border-none #{!important};
      @apply rounded-none #{!important};
      @apply p-0;
    }

    &.is-disabled {
      .el-textarea__inner {
        @apply bg-transparent border-transparent text-gray-400;
      }
    }
  }

  .el-textarea.is-disabled,
  .el-input.is-disabled .el-input__inner {
    @apply bg-[#F6F6F6] border-blue-400 text-gray-400 placeholder-blue-500 cursor-not-allowed;
  }

  .el-input,
  .el-textarea {
    @apply before:absolute
      before:rounded-[inherit]
      before:bg-transparent
      before:transition-colors
      before:duration-500;

    &__inner {
      @apply border
        border-solid
        border-blue-400
        bg-gray-100
        font-medium
        text-gray-500
        placeholder-blue-500
        relative
        focus:border-primary
        caret-primary
        rounded-[inherit];
    }
  }

  .el-input {
    @apply before:-left-[0.1875rem] before:-top-[0.1875rem];

    &::before {
      width: calc(100% + 0.375rem);
      height: calc(100% + 0.375rem);
    }

    &__prefix,
    &__prefix-inner,
    &__suffix,
    &__suffix-inner {
      @apply flex items-center justify-center;
    }

    &__suffix,
    &__prefix {
      @apply top-1/2 -translate-y-1/2;

      i,
      .icon {
        @apply w-full h-full inline-flex items-center justify-center;

        &::before {
          font-size: 1em;
        }
      }
    }

    &--large {
      @apply rounded-[8px];

      &.el-input {
        &--suffix .el-input__inner {
          padding-right: calc(0.875rem + 1.5rem + 0.5rem) !important;
        }

        &--prefix .el-input__inner {
          padding-left: calc(0.875rem + 1.5rem + 0.5rem) !important;
        }
      }

      &.el-textarea,
      .el-input__inner {
        @apply py-[0.6875rem] px-[0.875rem];
      }

      .el-input {
        &__suffix,
        &__prefix {
          &-inner {
            i,
            .icon {
              @apply text-[1.5rem] w-[1.5rem] h-[1.5rem];
            }
          }
        }

        &__suffix {
          @apply right-[0.875rem];
        }

        &__prefix {
          @apply left-[0.875rem];
        }
      }
    }

    &--medium {
      @apply rounded-[6px];

      &.el-input {
        &--suffix .el-input__inner {
          padding-right: calc(0.5rem + 1.25rem + 0.375rem) !important;
        }

        &--prefix .el-input__inner {
          padding-left: calc(0.5rem + 1.25rem + 0.375rem) !important;
        }
      }

      &.el-textarea,
      .el-input__inner {
        @apply py-[0.375rem];
      }

      .el-input {
        &__suffix,
        &__prefix {
          &-inner {
            i,
            .icon {
              @apply text-[1.25rem] w-[1.25rem] h-[1.25rem];
            }
          }
        }
      }
    }

    &--small {
      @apply rounded-[4px];

      &.el-input {
        &--suffix .el-input__inner {
          padding-right: calc(0.5rem + 1rem + 0.25rem) !important;
        }

        &--prefix .el-input__inner {
          padding-left: calc(0.5rem + 1rem + 0.25rem) !important;
        }
      }

      &.el-textarea,
      .el-input__inner {
        @apply py-[0.25rem];
      }

      .el-input {
        &__suffix,
        &__prefix {
          &-inner {
            i,
            .icon {
              @apply text-[1rem] w-[1rem] h-[1rem];
            }
          }
        }
      }
    }

    &--medium,
    &--small {
      &.el-textarea,
      .el-input__inner {
        @apply px-[0.5rem];
      }

      .el-input {
        &__suffix {
          @apply right-[0.5rem];
        }

        &__prefix {
          @apply left-[0.5rem];
        }
      }
    }
  }

  &--small,
  &--small .el-input--small {
    .app-input__label,
    .el-input__inner,
    .el-textarea__inner {
      @apply text-sm;
    }
  }

  &--large,
  &--large .el-input--large,
  &--medium,
  &--medium .el-input--medium {
    .app-input__label,
    .el-input__inner,
    .el-textarea__inner,
    .el-textarea__inner::placeholder,
    .el-input__inner::placeholder {
      @apply text-md;
    }
  }

  &:has(.app-input__label-container) {
    .app-input__label {
      @apply mb-0;
    }
  }

  &__label {
    @apply inline-flex text-gray-500 font-semibold mb-[0.5rem];

    &-container {
      @apply flex items-center w-full;

      &:has(.app-input__label) {
        @apply mb-[0.5rem];
      }
    }
  }

  &__helper {
    @apply absolute top-full left-0 text-blue-600 text-sm font-medium text-left pt-[0.5rem];
  }

  &--filter-view {
    .el-input {
      @apply focus-within:before:bg-opacity-0;

      &__inner {
        @apply bg-blue-300 border-transparent text-gray-500 placeholder-blue-600 focus:bg-gray-100;
      }

      &__suffix,
      &__prefix {
        @apply text-blue-600;
      }
    }
  }
}

.app-input.app-input--filter-view {
  .el-input {
    &__inner {
      @apply w-auto;
    }
  }
}
