@keyframes scale-x-frames {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.#{$vt-namespace}__progress-bar {
  z-index: calc(var(--vt-z-index) + 1);
  transform-origin: left;
  background-color: var(--vt-progress-background);
  .#{$vt-namespace}__toast--rtl & {
    &,
    &-track,
    &-thumb {
      right: 0;
      left: unset;
      transform-origin: right;
    }
  }

  &,
  &-track,
  &-thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--vt-progress-height);
  }

  &-thumb {
    transform-origin: left;
    animation: scale-x-frames linear 1 forwards;
    background-color: var(--vt-progress-thumb);
  }

  &-track {
    background-color: var(--vt-progress-track);
  }
}
