.#{$vt-namespace}__toast {
  display: inline-flex;
  position: relative;
  max-height: var(--vt-toast-max-height);
  min-height: var(--vt-toast-min-height);
  box-sizing: border-box;
  margin-bottom: var(--vt-toast-margin-bottom);
  padding: var(--vt-toast-padding);
  border-radius: var(--vt-toast-rounded);
  box-shadow: var(--vt-toast-shadow);
  justify-content: space-between;
  font-family: var(--vt-font-family);
  max-width: var(--vt-toast-max-width);
  min-width: var(--vt-toast-min-width);
  pointer-events: auto;
  overflow: hidden;
  // overflow: hidden + border-radius does not work properly on Safari
  // The following magic line fixes it
  // https://stackoverflow.com/a/58283449
  isolation: isolate;
  direction: ltr;

  &::before {
    content: '';
    z-index: -1;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: multiply;
  }

  background-color: var(--vt-toast-background);
  color: var(--vt-toast-color);

  &--rtl {
    direction: rtl;
  }

  &--default:not(&--dark) {
    --vt-toast-background: var(--vt-toast-background-default);
    --vt-toast-color: var(--vt-toast-text-default);

    --vt-progress-track: var(--vt-progress-track-default);
    --vt-progress-thumb: var(--vt-progress-thumb-default);
  }

  &--info:not(&--dark) {
    --vt-toast-background: var(--vt-toast-background-info);
    --vt-toast-color: var(--vt-toast-text-info);
    --vt-progress-track: var(--vt-progress-track-info);
    --vt-progress-thumb: var(--vt-progress-thumb-info);
  }

  &--success:not(&--dark) {
    --vt-toast-background: var(--vt-toast-background-success);
    --vt-toast-color: var(--vt-toast-text-success);
    --vt-progress-track: var(--vt-progress-track-success);
    --vt-progress-thumb: var(--vt-progress-thumb-success);
  }

  &--error:not(&--dark) {
    --vt-toast-background: var(--vt-toast-background-error);
    --vt-toast-color: var(--vt-toast-text-error);
    --vt-progress-track: var(--vt-progress-track-error);
    --vt-progress-thumb: var(--vt-progress-thumb-error);
  }

  &--warning:not(&--dark) {
    --vt-toast-background: var(--vt-toast-background-warning);
    --vt-toast-color: var(--vt-toast-text-warning);
    --vt-progress-track: var(--vt-progress-track-warning);
    --vt-progress-thumb: var(--vt-progress-thumb-warning);
  }

  &--dark {
    --vt-toast-background: var(--vt-toast-background-dark);
    --vt-toast-color: var(--vt-toast-text-dark);
    --vt-button-color: var(--vt-button-color-dark);
    --vt-progress-track: var(--vt-progress-track-dark);
    --vt-progress-thumb: var(--vt-progress-thumb-dark);
  }

  @media #{$vt-mobile} {
    border-radius: 0;
    margin-bottom: 0.5rem;
  }

  &-body,
  &-component-body {
    flex: 1;
  }

  &-body {
    line-height: 24px;
    font-size: 16px;
    word-break: break-word;
    white-space: pre-wrap;
  }

  &.disable-transition {
    transition: none !important;
    animation: none !important;
  }
}
