$vt-namespace: 'vue-toast' !default;
$vt-toast-min-width: 326px !default;
$vt-toast-max-width: 600px !default;

$vt-toast-min-height: 64px !default;
$vt-toast-max-height: 800px !default;

$vt-toast-shadow:
  0 1px 10px 0 rgb(0 0 0 / 10%),
  0 2px 15px 0 rgb(0 0 0 / 5%) !default;

$vt-color-default: #1976d2 !default;
$vt-text-color-default: #fff !default;
$vt-color-info: #2196f3 !default;
$vt-text-color-info: #fff !default;
$vt-color-success: #4caf50 !default;
$vt-text-color-success: #fff !default;
$vt-color-warning: #ffc107 !default;
$vt-text-color-warning: #fff !default;
$vt-color-error: #ff5252 !default;
$vt-text-color-error: #fff !default;

$vt-color-dark: #10233a !default;
$vt-text-color-dark: #fff !default;

$vt-button-color-default: #7288a3 !default;
$vt-button-color-dark: #fff !default;

$vt-progress-background: rgb(255, 255, 255, 70%) !default;
$vt-color-progress-default: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !default;

$vt-mobile: 'only screen and (max-width : 600px)' !default;
$vt-not-mobile: 'only screen and (min-width : 600px)' !default;
$vt-font-family: 'Lato', helvetica, 'Roboto', arial, sans-serif !default;
$vt-z-index: 9999 !default;

:root {
  --vt-toast-margin-bottom: 1rem;
  --vt-toast-padding: 22px 24px;
  --vt-toast-rounded: 8px;
  --vt-progress-height: 5px;

  --vt-toast-shadow: #{$vt-toast-shadow};

  --vt-toast-min-width: #{$vt-toast-min-width};
  --vt-toast-max-width: #{$vt-toast-max-width};
  --vt-toast-min-height: #{$vt-toast-min-height};
  --vt-toast-max-height: #{$vt-toast-max-height};

  --vt-progress-background: transparent;
  --vt-progress-track: transparent;
  --vt-progress-thumb: #{$vt-progress-background};

  --vt-toast-color: #{$vt-color-default};
  --vt-button-color: #{$vt-button-color-default};

  --vt-font-family: #{$vt-font-family};
  --vt-z-index: #{$vt-z-index};

  --vt-toast-background-default: #{$vt-color-default};
  --vt-toast-text-default: #{$vt-text-color-default};
  --vt-progress-track-default: transparent;
  --vt-progress-thumb-default: #{$vt-progress-background};

  --vt-toast-background-info: #{$vt-color-info};
  --vt-toast-text-info: #{$vt-text-color-info};
  --vt-progress-background-info: #{$vt-progress-background};
  --vt-progress-track-info: transparent;
  --vt-progress-thumb-info: #{$vt-progress-background};

  --vt-toast-background-success: #{$vt-color-success};
  --vt-toast-text-success: #{$vt-text-color-success};
  --vt-progress-background-success: #{$vt-progress-background};
  --vt-progress-track-success: transparent;
  --vt-progress-thumb-success: #{$vt-progress-background};

  --vt-toast-background-error: #{$vt-color-error};
  --vt-toast-text-error: #{$vt-text-color-error};
  --vt-progress-background-error: #{$vt-progress-background};
  --vt-progress-track-error: transparent;
  --vt-progress-thumb-error: #{$vt-progress-background};

  --vt-toast-background-warning: #{$vt-color-warning};
  --vt-toast-text-warning: #{$vt-text-color-warning};
  --vt-progress-background-warning: #{$vt-progress-background};
  --vt-progress-track-warning: transparent;
  --vt-progress-thumb-warning: #{$vt-progress-background};

  --vt-toast-background-dark: #{$vt-color-dark};
  --vt-toast-text-dark: #{$vt-text-color-dark};
  --vt-progress-background-dark: #{$vt-progress-background};
  --vt-progress-track-dark: transparent;
  --vt-progress-thumb-dark: #{$vt-progress-background};

  --vt-button-color-dark: #{$vt-button-color-dark};
}
