@font-face {
  font-family: 'Montserrat';
  src:
    url('~@/assets/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('~@/assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('~@/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('~@/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('~@/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('~@/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('~@/assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('~@/assets/fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
