.v-notification {
  background: #e8f0fc;
  border-radius: 5px;
  min-height: 73px;

  &__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;

    &::before {
      content: "";
    }

    &--error {
      width: 23px;
      height: 23px;
      background-image: url('~@/assets/icons/notification-error.svg');
    }

    &--success {
      width: 19px;
      height: 19px;
      background-image: url('~@/assets/icons/notification-success.svg');
    }
  }

  .el-notification__title {
    font-size: 14px;
    color: #000;
  }

  .el-notification__content {
    font-size: 12px;
    line-height: 17px;
    margin: 0 0 0 0;
    word-break: break-word;
    color: #000;
  }
}
